$Grey: #353535;
$Grey2: #EAEAEA;
$Green: #a9e0d1;
$Green2: #3b8468;
$fontlogotitres: 'Shrikhand';
$gradient: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$lines: 220px;
$line-height: 20px;
body{
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
}
a{
    text-decoration: none;
  }
header{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    img{
        width: 10rem;
        height: auto;
        
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
    z-index: 0;
}
.card{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $Grey2;
    border-radius: 4rem 4rem 0rem 0rem;
    padding: 1rem;
    margin-top: -4rem;
    z-index: 1;
}
h1{
    font-family: $fontlogotitres;
}
h2{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.heart {
    .fa-solid {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
    }
    label{
      position: relative;
    }
    input[type="checkbox"]:checked ~ label .fa-solid {
      opacity: 1;
    }
    input[type="checkbox"]:checked ~ label .fa-regular {
      opacity: 0;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
  }
  .gradient-text {
    background-image: $gradient; 
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
  }
.card_header{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.border_green{
    width: 10%;
    background-color: $Green;
    height: 3px;
    margin-bottom: 1rem;
}
@mixin line-clamp($lines, $line-height) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  max-height: $lines * $line-height;
  text-overflow: ellipsis;
  overflow: hidden;
}
.element {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card_element {
      display: flex;
      padding: 1rem;
      align-items: flex-end;
      justify-content: space-between;
      background-color: white;
      border-radius: 1rem;
      width: 100%;
  }

  .card_description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @include line-clamp(2, 1.25em);
  }

    h3{
        margin: 0px;
        font-weight: 500;
    }
    p{
        margin: 0px;
    }
    .description{
        font-weight: 300;
    }
    .price{
        font-weight: 500;
    }
    i {
        color: white;
        font-size: 25px;
    }
    .selection {
        background: $Green;
        cursor: pointer;
        height: auto;
        opacity: 0;
        border-radius: 0 1rem 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }
    input[type="checkbox"]{
        display: none;
    }
    input[type="checkbox"]:checked + .selection {
        width: 20%;
        height: auto;
        opacity: 1;
    }
}

.check{
    display: flex;
    
}
.section_button{
    text-align: center;
    background-color: $Grey2;
    padding: 2rem;
    button{
        border: none;
        border-radius: 55px;
        padding:  15px 5px;
        color: white;
        background: rgb(147,86,220);
        background: $gradient;
        width: 218px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      button:hover{
        background: #9356dc;
        background: linear-gradient(0deg, rgb(163, 99, 240) 0%, rgb(248, 138, 217) 100%);
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
      }    
}
footer{
    padding: 0rem 1rem;
    background-color: $Grey;
    color: white;
    display: flex;
    flex-direction: column;
    h3{
      font-family: $fontlogotitres;
    }
    div{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
    a{
        color: white;
    }
  }
/* Define keyframes for the entrance animation */
@keyframes entranceAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply the animation to each article */
  .entres, .plats, .desserts {
    animation: entranceAnimation 0.5s ease-in-out forwards;
  }
  
  /* Delay the animation for each article */
  .plats {
    animation-delay: 0.2s;
  }
  
  .desserts {
    animation-delay: 0.4s;
  }
  
@media (min-width: 767.98px) {
    .card{
        margin: -4rem 5rem 0rem 5rem;
        padding: 0rem 10rem;
    }
    .card_header{
        justify-content: center;
    }
    img{
        height: 500px;
    }
    .border_green{
        width: 4%;
    }

    footer{
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 5rem;
        padding:  3rem 2rem 1rem 0rem;
        article{
          display: flex;
          flex-direction: row;
          gap: 2rem;
        }
      }  
    .check:hover{
      .selection{
        width: 10%;
        height: auto;
        opacity: 1;
      }
    }
  }