body {
  margin: 0px;
  padding: 0px;
  font-family: "roboto";
  background-color: #F6F6F6;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fade-out 5s 0s forwards;
}

.loading {
  border: 4px solid #9356dc;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fond-apparait {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
section {
  padding: 0rem 1rem;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  background-color: white;
}
header img {
  width: 10rem;
  height: auto;
}

.bar_location {
  display: flex;
  background-color: #EAEAEA;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
}
.title h1 {
  font-weight: bold;
  font-size: 35px;
}
.title button {
  border: none;
  border-radius: 55px;
  padding: 15px 5px;
  color: white;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  width: 218px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.title button:hover {
  background: #9356dc;
  background: linear-gradient(0deg, rgb(163, 99, 240) 0%, rgb(248, 138, 217) 100%);
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

.function {
  background-color: white;
}

.bar_button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
.bar_button article {
  border: none;
  color: black;
  display: flex;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: #EAEAEA;
  margin: 0rem 1rem;
  align-items: center;
  gap: 1rem;
}
.bar_button .number {
  background: #9356dc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4rem;
}
.bar_button p {
  margin: 0px;
}

.purple {
  color: #9356dc;
}

.grey {
  color: #353535;
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card a {
  color: black;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 2rem 2rem 0px 0px;
}
.card article {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.card article .tag {
  background: #a9e0d1;
  color: #3b8468;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 1rem 2rem;
  border-radius: 0.3rem;
  position: absolute;
}

.card_description {
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card_description p {
  margin: 0px;
  font-weight: 300;
}
.card_description h3 {
  margin: 0px;
}

.heart .fa-solid {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
.heart label {
  position: relative;
}
.heart input[type=checkbox]:checked ~ label .fa-solid {
  opacity: 1;
}
.heart input[type=checkbox]:checked ~ label .fa-regular {
  opacity: 0;
}

input[type=checkbox] {
  opacity: 0;
}

.gradient-text {
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

footer {
  padding: 0rem 1rem;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
footer h3 {
  font-family: "Shrikhand";
}
footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
footer a {
  color: white;
}

@media (min-width: 767.98px) {
  section {
    padding: 0rem 5rem;
  }
  .function {
    padding: 0rem 5rem;
  }
  .bar_button {
    flex-direction: row;
    justify-content: center;
  }
  .heart .fa-solid {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }
  .heart:hover .fa-solid {
    opacity: 1;
  }
  .heart:hover .fa-regular {
    opacity: 0;
  }
  .heart input[type=checkbox] {
    opacity: 0;
  }
  .restaurant {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 0rem;
  }
  .restaurant img {
    height: 350px;
  }
  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    padding: 3rem 2rem 1rem 0rem;
  }
  footer article {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
